body {
    font-size: 133%;
    font-family: serif;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #BDD3F2;

}

aside {        
    background-color: bisque;
    border: black 1px solid;
    border-radius: 8px;
    float: right;
    font-style: italic;
    margin-right: 5px;
    padding: 8px;
    width: 33%;        
}

b {
    color: #b15931;
}

figcaption {
    font-size: 80%;
    text-align: center;
}

header {
    background-color: #fff;
    text-align: center;
}

header p {
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.byline {
    font-family: georgia;
    font-size: 80%;
    font-style: italic;

}

main {
    background-color: #fff;
}

footer {
    background-color: #fff;
    text-align: center;
}

figure.left {
    float: left;
}

figure.right {
    float: right;
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
     