body {
    font-size: 133%;
    font-family: serif;
    padding-left: 300px;
    padding-right: 300px;

}

b {
    color: #b15931;
}

header {
    background-color: rgb(221, 220, 220);
    text-align: center;
}

header p {
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.byline {
    font-family: georgia;
    font-size: 80%;
    font-style: italic;

}

main {
    background-color: rgb(221, 220, 220);
}

footer {
    background-color: rgb(221, 220, 220);
    text-align: center;
}

figure.left {
    float: left;
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}
     