body {
    font-size: 133%;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

b {
    color: #b15931;
}

img.one {
    width: 550px;
    height: 500px;
}

img.two {
    width: 375px;
    height: 500px;
}